{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

{% include 'users/header.html' %}

<h2>Edit User Details</h2>
<p>Editing details for {{ user.username }}</p>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save Changes</button>
</form>

<a href="{% url 'admin_dashboard' %}">Back to Admin Dashboard</a>
{% include 'users/footer.html' %}
</body>
</html>