{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

{% include 'users/header.html' %}

<div class="login-container">
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username" required>
        <br>
        <label>Password:</label>
        <input type="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>
    {% if error %}
        <p style="color: rgb(0, 85, 255);">{{ error }}</p>
    {% endif %}
    <a href="{% url 'register' %}" class="register-btn">Create an Account</a>
</div>
{% include 'users/footer.html' %}
</body>
</html>
